.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px #ededed;
    padding: 30px;
    margin: 20px;
    transition: all 0.1s ease-out;
    width: 500px;
    border-top: 3px solid #4039b5;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


div.mermaid {
    text-align: center;
}

.md-typeset .grid.cards > ul > li {
    text-align: center;
}

.button-74 {
  background-color: #4e6877;
  border: 2px solid #17c1da;
  border-radius: 30px;
  box-shadow: #17c1da 4px 4px 0 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top:10px;
  margin-bottom: 10px;
}

.button-74:hover {
  background-color: #fff;
  color: #4e6877;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.doacao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.qrcodeframe {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
}

.qrcodeframe img {
  width: 25vh; 
  height: auto; 
  margin-bottom: 20px; 
  margin-top:20px; 
  border-radius: 5px; 
  border: 2px 
  solid #4e6877;
}

@media screen and (max-width:954px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
  .doacao {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .doacao > div:first-child {
    margin-right: 0 !important; 
    text-align: center;
  }

  .doacao p {
    max-width: 100%;
  }

.qrcodeframe img {
  width: 50vh; 
  height: auto; 
  margin-bottom: 20px; 
  margin-top:20px; 
  border-radius: 5px; 
  border: 2px 
  solid #4e6877;
}
}